<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="client.js">   
        </script>
            <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
    <body>
    <div>
        <h1>CHATTER</h1>
        <p>Generate chat room id</p>
        <button type="submit" id="generate_chat_room">GenerateID</button>
        <p>join chat room </p>
        <input type="text" id="chatRoomIds">
        <button type="submit" id="join_chat_room">join room</button>
    </div>
    </body>
</html>